/*Slides*/
.rs-caption-1 {
  color: #fff;
  font-size: 32px;
  font-weight: 200;
  padding: 6px 75px;
  position: relative;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

.rs-caption-1:after,
.rs-caption-1:before {
  font-size: 16px;
  content: "\f005";
  position: absolute;
  font-family: FontAwesome;
}

@media (max-width: 768px) {
  .rs-caption-1:after,
  .rs-caption-1:before {
    content: "";
  }
}

.rs-caption-1:after {
  right: 4%;
}

.rs-caption-1:before {
  left: 4%;
}

.rs-caption-2 {
  color: #fff;
  position: relative;
  font-size: 26px;
  font-weight: 200;
  line-height: 40px;
  padding: 10px 50px;
  text-align: center;
}

.rs-caption-2:after {
  left: 50%;
  content: "";
  height: 1px;
  width: 100px;
  bottom: -10px;
  background: #fff;
  margin-left: -50px;
  position: absolute;
}

@media (max-width: 768px) {
  .rs-caption-1,
  .rs-caption-2{
    font-weight: normal;
  }
}










